{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<br>

<div class="card container">

    <h5 class="card-header info-color white-text text-center bg-white py-4">
        <strong>Ingresa tu código de activación</strong>
    </h5>

    <div class="col-md-5 container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="text" class="form-control" id="codigo" name="codigo">
            </div>
            <div class="form-group">
                <label for="rut">RUT (Sin puntos y con guión):</label>
                <input type="text" class="form-control" id="rut" name="rut" placeholder="Ej: 12345678-9">
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" class="form-control" id="dni" name="dni"
                    placeholder="Ingrese solo en caso de ser extranjero.">
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Activar</button>
            </div>

            
        </form>
    </div>


    <br>

</div>

<br>

<div class="d-flex justify-content-center">
    {% if messages %}
    {% for m in messages %}

    <div class="alert alert-success" role="alert">
        <div>{{ m }}</div>
    </div>

    {% endfor %}
    {% endif %}
</div>

{% if perso %}

{% for p in perso %}

<table id="tablePreview" class="table table-bordered container">

    <thead class="bg-success">
        <tr>
            <th class="text-center">Nombres</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Tipo Cuenta</th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>

    <tbody>
        <td class="text-center">
            {{p.nombres}}
        </td>
        <td class="text-center">
            {{p.apellidos}}
        </td>
        <td class="text-center">
            {{p.id_tipo.nombre_tipo}}
        </td>
        <td class="text-center">
            <a href="{% url 'registro_usuario' p.codigo_activacion %}" class="btn btn-success">Activar Usuario</a>
        </td>
    </tbody>
    <tr>
    </tr>
</table>

{% endfor %}

{% endif %}




{% endblock %}