{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<br>

<!-- <div class="col-md-3 container"> -->
    <div class="container">
        <h2>Registro de compradores minoristas</h2>
    </div>
    
    <form action="" method="POST" class="container">
        {% csrf_token %}
        {{ form|crispy }}
    
        <input type="reset" value="Limpiar" class="btn btn-success">
        <input type="submit" value="Registrar" class="btn btn-info">
    
    </form>
<!-- </div> -->


<br>


{% endblock %}