{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colores.css' %}">
{% endblock %}

{% block javascript %}

{% endblock %}

{% block contenido %}

<div class="container">
    <br>
    <hr class="new4">
    <h1 class="text-center text-white">Dashboard <i class="fas fa-tachometer-alt"></i></h1>
    <hr class="new4">
    <br>
</div>

<div class="container">

    <div class="btn-group" role="group">
        <a href="{% url 'datos_pdf' %}" class="btn btn-danger mb-3">Exportar informe a PDF <i class="fas fa-file-pdf"></i></a>
        <a href="{% url 'home' %}" class="btn btn-info mb-3 ml-3"><i class="fas fa-step-backward"></i> Volver</a>
    </div>

    <div class="card">
        <div class="card-header text-center bg-success text-white">
            <strong>
                <i class="fab fa-apple"></i> 
                Maipo Grande - Fecha y hora actual: {{ fecha }}
            </strong>
        </div>
        <div class="card-header text-center bg-success text-white">Todos los resultados a continuación, se basan consultas realizadas a la fecha y hora actual.</div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="card-text">Cantidad total de kilos vencidos: {{ total }} Kilos</div>
                    <div class="card-text">Cantidad total vendida (venta mayorista + venta minorista): {{ cantidad_total_vendida }} Kilos</div>
                </div>
                <div class="col">
                    <div class="card-text">Cinco productos que mas vencen en bodega: </div>
                    <ul class="ml-5">
                        {% for c1 in cinco_mas_vencidos %}
                            <li>{{ c1.0 }}, Cantidad: {{ c1.1 }} Kilos</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card-text">Cinco productos que mas se venden en <strong>ventas mayoristas</strong>:</div>
                    <ul class="ml-5">
                        {% for c3 in cinco_mejor_vendidos_mayorista %}
                            <li>{{ c3.0 }}, Cantidad: {{ c3.1 }} Kilos</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <div class="card-text">Cinco productos que mas se venden en <strong>ventas minoristas</strong>:</div>
                    <ul class="ml-5">
                        {% for c2 in cinco_mejor_vendidos_minorista %}
                            <li>{{ c2.0 }}, Cantidad: {{ c2.1 }} Kilos</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
{% endblock %}