{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colores.css' %}">
<link rel="stylesheet" href="{% static 'core/css/parpadeo.css' %}">
<link rel="stylesheet" href="{% static 'core/css/lista.css' %}">
{% endblock %}

{% block javascript %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="{% static 'core/js/graficos.js' %}"></script>


{% endblock %}

{% block contenido %}
<br>

<div class="card bg-success mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-2">
                <div class="container">
                    <div id="grafico_mas_vencidos" style="height: 370px; width: 100%;"></div>
                </div>
            </div>
            <div class="col p-2">
                <div class="container">
                    <div id="grafico_mejor_vendidos_minorista" style="height: 370px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>







<input type="hidden" name="prod_ven_1" id="prod_ven_1" value="{{ cinco_mas_vencidos.0.0 }}">
<input type="hidden" name="cant_ven_1" id="cant_ven_1" value="{{ cinco_mas_vencidos.0.1 }}">
<input type="hidden" name="prod_ven_2" id="prod_ven_2" value="{{ cinco_mas_vencidos.1.0 }}">
<input type="hidden" name="cant_ven_2" id="cant_ven_2" value="{{ cinco_mas_vencidos.1.1 }}">
<input type="hidden" name="prod_ven_3" id="prod_ven_3" value="{{ cinco_mas_vencidos.2.0 }}">
<input type="hidden" name="cant_ven_3" id="cant_ven_3" value="{{ cinco_mas_vencidos.2.1 }}">
<input type="hidden" name="prod_ven_4" id="prod_ven_4" value="{{ cinco_mas_vencidos.3.0 }}">
<input type="hidden" name="cant_ven_4" id="cant_ven_4" value="{{ cinco_mas_vencidos.3.1 }}">
<input type="hidden" name="prod_ven_5" id="prod_ven_5" value="{{ cinco_mas_vencidos.4.0 }}">
<input type="hidden" name="cant_ven_5" id="cant_ven_5" value="{{ cinco_mas_vencidos.4.1 }}">


<input type="hidden" name="prod_vendidos_1" id="prod_vendidos_1" value="{{ cinco_mejor_vendidos.0.0 }}">
<input type="hidden" name="cant_vendidos_1" id="cant_vendidos_1" value="{{ cinco_mejor_vendidos.0.1 }}">
<input type="hidden" name="prod_vendidos_2" id="prod_vendidos_2" value="{{ cinco_mejor_vendidos.1.0 }}">
<input type="hidden" name="cant_vendidos_2" id="cant_vendidos_2" value="{{ cinco_mejor_vendidos.1.1 }}">
<input type="hidden" name="prod_vendidos_3" id="prod_vendidos_3" value="{{ cinco_mejor_vendidos.2.0 }}">
<input type="hidden" name="cant_vendidos_3" id="cant_vendidos_3" value="{{ cinco_mejor_vendidos.2.1 }}">
<input type="hidden" name="prod_vendidos_4" id="prod_vendidos_4" value="{{ cinco_mejor_vendidos.3.0 }}">
<input type="hidden" name="cant_vendidos_4" id="cant_vendidos_4" value="{{ cinco_mejor_vendidos.3.1 }}">
<input type="hidden" name="prod_vendidos_5" id="prod_vendidos_5" value="{{ cinco_mejor_vendidos.4.0 }}">
<input type="hidden" name="cant_vendidos_5" id="cant_vendidos_5" value="{{ cinco_mejor_vendidos.4.1 }}">





<br>
{% endblock %}