{% extends 'core/base.html' %}

{% load static %}

{% block javascript %}
  <!-- <script src="{% static 'core/js/aaa.js' %}"></script> -->

{% endblock %}

{% block contenido %}


<!-- <div class="container my-5 py-5 z-depth-1">
  <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
        <img src="{% static 'core/img/logo_maipo.png' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h3 class="font-weight-bold">Maipo Grande</h3>
        <p class="text-muted">La empresa Maipo Grande ofrece servicio de venta en grandes cantidades
          para el extranjero y grandes oportunidades para la venta local.</p>
      </div>
    </div>
  </section>
</div> -->

<!-- <p>My name is Donald.</p>
<p class="hometown">I live in Ducksburg.</p>

<p>My name is Dolly.</p>
<p class="hometown">I also live in Ducksburg.</p> -->
<!-- <h2>JavaScript Functions</h2>

<p>This example calls a function to convert from Fahrenheit to Celsius:</p>
<p id="demo"></p> -->




<div class="mx-auto mt-4" style="max-width: 540px;">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static 'core/img/logo_maipo.png' %}" class="card-img" alt="logo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Maipo Grande</h5>
          <p class="card-text">La empresa Maipo Grande ofrece servicio de venta en grandes cantidades
            para el extranjero y grandes oportunidades para la venta local.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>

</div>

<div class="card container">
  <div class="card-header bg-white">
    <h3 class="font-weight-bold">¿Necestitas una cuenta?</h3>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
  </div>

  <div class="row mx-md-n5 mb-3">
    <div class="col px-md-5">
      <div class="p-3  bg-white text-center mx-md-5">
        <div class="d-flex justify-content-center mb-1">
          <i class="far fa-user-circle fa-5x blue-text"></i>
        </div>
        <p class="font-weight-bold my-3">Cuenta usuario mayorista</p>
      </div>
      <ul class="list-group text-muted mx-md-5">
        <li class="list-group-item bg-primary text-white">Privilegios</li>
        <li class="list-group-item">Realizar solicitudes de compra</li>
        <li class="list-group-item">Estado de solicitud en vivo</li>
        <li class="list-group-item">Pagos en linea</li>
        <li class="list-group-item">Participar en subasta de transporte</li>
        <li class="list-group-item">Ofercer productos en los procesos de venta</li>
        <a class="btn btn-primary mx-md-5 mt-2" href="{% url 'codigo_activacion' %}" role="button">Ingresa tu código</a>
      </ul>
    </div>

    <div class="col px-md-5">
      <div class="p-3  bg-white text-center mx-md-5">
        <div class="d-flex justify-content-center mb-1">
          <i class="far fa-user-circle fa-5x blue-text"></i>
        </div>
        <p class="font-weight-bold my-3">Cuenta de usuario minorista</p>
      </div>
      <ul class="list-group text-muted mx-md-5">
        <li class="list-group-item bg-success text-white">Privilegios</li>
        <li class="list-group-item">Registro sin necesidad de solicitud</li>
        <li class="list-group-item">Acceso a ventas de saldo</li>
        <li class="list-group-item">Pagos en linea</li>
        <li class="list-group-item">Estado de envio en vivo</li>
        <li class="list-group-item">Productos a los mejores precios</li>
        <a class="btn btn-success mx-md-5 mt-2" href="{% url 'registro_minorista' %}" role="button">Registrate</a>
      </ul>
    </div>
  </div>
</div>






<!-- <div class="container my-5 py-5 z-depth-1">
  <section class="px-md-5 mx-md-5 text-center dark-grey-text">
    <h3 class="font-weight-bold mb-5">¿Necestitas una cuenta?</h3>
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <i class="far fa-user-circle fa-3x blue-text"></i>
        <p class="font-weight-bold my-3">Cuenta usuario mayorista</p>
        <ul class="list-group text-muted mx-md-5">
          <li class="list-group-item active">Privilegios</li>
          <li class="list-group-item">Realizar solicitudes de compra</li>
          <li class="list-group-item">Estado de solicitud en vivo</li>
          <li class="list-group-item">Pagos en linea</li>
          <li class="list-group-item">Participar en subasta de transporte</li>
          <li class="list-group-item">Ofercer productos en los procesos de venta</li>
        </ul>
        <a class="btn btn-primary btn-md" href="{% url 'codigo_activacion' %}" role="button">Ingresa tu código</a>
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <i class="far fa-user-circle fa-3x green-text"></i>
        <p class="font-weight-bold my-3">Cuenta usuario minorista</p>
        <ul class="list-group text-muted mx-md-5">
          <li class="list-group-item btn-green">Privilegios</li>
          <li class="list-group-item">Registro sin necesidad de solicitud</li>
          <li class="list-group-item">Acceso a ventas de saldo</li>
          <li class="list-group-item">Pagos en linea</li>
          <li class="list-group-item">Estado de envio en vivo</li>
          <li class="list-group-item">Productos a los mejores precios</li>
        </ul>
        <a class="btn btn-green btn-md" href="{% url 'registro_minorista' %}" role="button">Registrate</a>
      </div>
    </div>
  </section>
</div> -->


{% endblock %}