
{% extends 'core/base.html' %}

{% load static %}


{% block contenido %}

    <div class="container">
        <br>
        <ul>
            <li>
                <!-- <a href="{% url 'solicitud_compra' %}">solicitud_compra</a> -->
            </li>
            <li>
                <a href="{% url 'formulario_solicitud' %}">formulario_solicitud</a>
            </li>
            <li>
                <!-- <a href="{% url 'administrar_productos' %}">Administrar_productos</a> -->
            </li>
        </ul>
    </div>

{% endblock %}s