{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
{% endblock %}

{% block contenido %}

<br>

<h2 class="d-flex justify-content-around">Productos de la Solicitud:</h2>
<br>
<div class="container table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <thead>
                <!-- <th>id detalle</th>
                <th>id solicitud</th> -->
                <th class="text-center">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Opciones</th>
            </thead>
        </tr>

        <tbody>
            {% for d in det %}
            <tr>
                <!-- <td>{{ d.id_detalle }}</td>
                <td>{{ d.id_solicitud.id_solicitud }}</td> -->
                <td class="text-center">{{ d.id_producto.nombre }}</td>
                <td class="text-center">{{ d.cantidad }} Kilos</td>
                <td class="text-center">
                    <a href="{% url 'modificar_detalleproducto' d.id_detalle %}" role="button"
                        class="btn btn-primary">Modificar</a>
                    <a href="{% url 'eliminar_detalleproducto' d.id_detalle %}" role="button"
                        class="btn btn-danger">Eliminar</a>
                    <a href="{% url 'agregar_producto' d.id_solicitud.id_solicitud %}" role="button"
                        class="btn btn-success">Agregar otro Producto</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}