{% extends 'core/base.html' %}

{% load static %}
{% load auth_extras %}
{% block javascript %}
{% endblock %}

{% block contenido %}

<br>

<h1 class="d-flex justify-content-center">Subastas activas</h1>

<br>
  <!-- <div class="container">
    <div class="card-deck">
      {% for d in detalle %}

      

      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Producto: </h5>

  
          
          <p class="card-text">Cantidad solicitada: Killos</p> 


        </div>
        <div class="card-footer">
          <a href="" role="button" class="btn btn-primary">Postular producto</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div> -->
  {% for d in detalle %}  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ d.id_detalle }}</h5>
      <p class="card-text">d.fecha_inicio</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
  {% endfor %}
{% endblock %}