{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colores.css' %}">
<link rel="stylesheet" href="{% static 'core/css/parpadeo.css' %}">
<link rel="stylesheet" href="{% static 'core/css/cards.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/confirmacion_eliminacionProductoSolicitud.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock %}

{% block contenido %}

<br>

<div class="container">
    <br>
    <hr class="new4">
    <h1 class="text-center text-white">Productos de la Solicitud:</h1>
    <hr class="new4">
    <br>
</div>

<div class="container">
    <div class="btn-group" role="group">
        <a href="{% url 'solicitud_compra' %}" class="btn btn-info mb-3 mr-2"><i class="fas fa-step-backward"></i> Volver</a>


        {% if det.0.5 == 1 %}
        <a class="btn btn-primary mb-3 ml-2" href="{% url 'agregar_producto' id_sol %}"><i class="fas fa-plus-circle"></i> Agregar Producto</a>

        {% else %}
        <a class="btn btn-primary mb-3 ml-2 disabled" href="{% url 'agregar_producto' id_sol %}"><i class="fas fa-plus-circle"></i> Agregar Producto</a>

        {% endif %}



      </div>
</div>

{% if det %}
<div class="container table-responsive">
    <table class="table table-bordered table-hover table-condensed  table-light">
        <tr>
            <thead>
                <!-- <th>id detalle</th> -->
                <!-- <th>id solicitud</th> -->
                <th class="text-center">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Opciones</th>
            </thead>
        </tr>

        <tbody>
            {% for d in det %}
            <tr>
                <!-- <td>{{ d.0 }}</td> -->
                <!-- <td>{{ d.4 }}</td> -->
                <td class="text-center">{{ d.2 }}</td>
                <td class="text-center">{{ d.3 }} Kilos</td>
                <td class="text-center">

                    {% if d.5 == 1 %}
                    <a href="{% url 'modificar_detalleproducto' d.0 %}" role="button"
                    class="btn btn-primary">Modificar</a>

                    <a onclick="validacion_eliminacion({{ d.0 }})" role="button"
                    class="btn btn-danger">Eliminar</a>

                    <!-- <a href="{% url 'agregar_producto' d.4 %}" role="button"
                    class="btn btn-success">Agregar otro Producto</a> -->

                    {% else %}
                      
                    <a href="{% url 'modificar_detalleproducto' d.0 %}" role="button"
                    class="btn btn-primary disabled">Modificar</a>

                    <a onclick="validacion_eliminacion({{ d.0 }})" role="button"
                    class="btn btn-danger disabled">Eliminar</a>

                    <!-- <a href="{% url 'agregar_producto' d.4 %}" role="button"
                    class="btn btn-success disabled">Agregar otro Producto</a> -->

                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container mt-5 mb-5">
    <h3 class="text-center text-white">No existen productos en la solicitud.</h3>
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'agregar_producto' id_sol %}">Presione aquí para agregar un producto</a>
    </div>
    </h3>
    <hr class="new4">
    <h4 class="text-center text-white"><i class="fab fa-apple fa-lg mr-2"></i>Maipo Grande</h4>

 
</div>


{% endif %}



<div class="d-flex justify-content-center">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}