{% extends 'core/base.html' %}

{% load static %}
{% load auth_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
<link rel="stylesheet" href="{% static 'core/css/centro.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/countdown.js' %}"></script>
<script src="{% static 'core/js/hora.js' %}"></script>
<script src="{% static 'core/js/validacion_oferta.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- <script src="{% static 'core/js/guardado.js' %}"></script> -->
{% endblock %}

{% block contenido %}


<div class="card">

</div>




{% endblock %}