{% extends 'core/base.html' %}

{% load static %}
{% load auth_extras %}


{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
<link rel="stylesheet" href="{% static 'core/css/colores.css' %}">
<link rel="stylesheet" href="{% static 'core/css/parpadeo.css' %}">
<link rel="stylesheet" href="{% static 'core/css/cards.css' %}">
<link rel="stylesheet" href="{% static 'core/css/child.css' %}">

{% endblock %}

{% block javascript %}
{% endblock %}

{% block contenido %}

<br>

{% if procesos %}

{% for p in procesos %}
<div class="container">
  <div class="card text-center mb-3">
    <div class="card-header bg-success text-white">
      {{ p.4 }}
    </div>
    <div class="row no-gutters">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="{{ p.5 }}" class="card-img" alt="imagen-fruta">
      </div>

      <div class="col-md-8 d-flex justify-content-center">
        <div class="card-body">
          <h5 class="card-title">Producto: {{ p.0 }}</h5>
          <p class="card-text">Cantidad Solicitada: {{ p.1 }} Kilos</p>
          <p class="card-text">Inicio: {{ p.2 }}</p>
          <p class="card-text">Termino: {{ p.3 }}</p>
          <a href="{% url 'producto_procesoventa' p.6 p.7 p.8  %}" class="btn btn-primary">Ver subasta</a>
        </div>
      </div>
    </div>
    <div class="card-footer bg-success text-white">
      <input type="hidden" name="fechaT" id="fechaT" value="{{ p.3|date:"m/d/y" }}  {{ p.3|time:"H:i" }}">
      <p class="card-text" id="cuentaAtras"></p>
    </div>
  </div>
</div>
{% endfor %}

{% else %}

<div class="container mt-5 mb-5">
  <h3 class="text-center text-white">No existen procesos de venta activos.</h3>
  <h4 class="text-center text-white">Por favor, vuelva a intentarlo en otro momento.</h4>
  <hr class="new4">
  <h4 class="text-center text-white">Maipo Grande
    <img src="{% static '/core/img/logo_maipo.png' %}" alt="logo" width="30" height="30" class="mb-2">
  </h4>
  <div class="text-center">
    <a href="{% url 'home' %}" role="button" class="btn btn-primary"><i class="fas fa-step-backward"></i> Volver</a>
  </div>
</div>

{% endif %}

<br>

{% endblock %}