{% extends 'core/base.html' %}

{% load static %}
{% load auth_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
<link rel="stylesheet" href="{% static 'core/css/centro.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/validacion_oferta.js' %}"></script>
<script src="{% static 'core/js/countdown.js' %}"></script>
<!-- <script src="{% static 'core/js/hora.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- <script src="{% static 'core/js/guardado.js' %}"></script> -->
<!-- <script src="{% static 'core/js/llenar_textbox_cantidad.js' %}"></script> -->
<script src="{% static 'core/js/cerrar_alerta.js' %}"></script>
{% endblock %}

{% block contenido %}

<br>

{% for p in producto %}
<div class="container">
    <div class="card text-center mb-3">
        <div class="card-header bg-success text-white font-weight-bolder">
            {{ p.4 }}
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">

                <div class="vertical-center">
                    <img src="{{ p.5 }}" class="card-img" alt="imagen-fruta">

                </div>

            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Producto: {{ p.0 }}</li>
                        <li class="list-group-item">Cantidad Solicitada: {{ p.1 }} Kilos</li>
                        <input type="hidden" name="cant_sol" id="cant_sol" value="{{ p.1 }}">
                        <li class="list-group-item">Inicio: {{ p.2 }}</li>
                        <li class="list-group-item">Termino: {{ p.3 }}</li>
                        <li class="list-group-item">
                            <div class="card border-success">
                                <div class="card-body">
                                    <h5 class="card-title">Realiza una oferta</h5>
                                    <form action="" method="POST" class="was-validated" onsubmit="return validacion();">
                                        {% csrf_token %}
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text bg-success text-white" for="cboprodbod">Seleccione lote para ofertar</label>
                                            </div>
                                            <select class="custom-select" name="cboprodbod" id="cboprodbod" required>
                                                <option selected value="">Seleccione lote</option>
                                                {% for pb in prod_bod %}
                                                {% if pb.1 == p.8 and pb.6 == request.user.id  %}
                                                <option value="{{ pb.0 }}">Lote Nro. {{ pb.0 }}, {{ pb.2 }}, {{ pb.3 }} Kilos</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">Seleccione un lote para realizar la oferta</div>
                                            <!-- <input type="text" name="cant_lote" id="cant_lote"> -->
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Cantidad</label>
                                                <input type="number" name="cantidadtxt" id="cantidadtxt" class="form-control" placeholder="Cantidad en Kilos" required>
                                                <!-- <input type="hidden" name="cantidad" id="cantidad" value="{{ p.1 }}"> -->
                                                <div class="invalid-feedback">Ingrese una cantidad válida</div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="">Precio Kilo</label>
                                                <input type="number" name="ofertatxt" id="ofertatxt" class="form-control" placeholder="$" required>
                                                <div class="invalid-feedback">Ingrese una oferta válida</div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Ofertar mi producto</button>
                                        <input type="hidden" name="id_producto" id="id_producto" value="{{ p.8 }}">
                                        <input type="hidden" name="id_proceso" id="id_proceso" value="{{ p.7 }}">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card w-50 container border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Estado subasta:</h5>
                        <input type="hidden" name="fechaT" id="fechaT"
                            value="{{ p.3|date:"m/d/y" }} {{ p.3|time:"H:i" }}">
                        <p class="card-text font-weight-bolder" id="cuentaAtras"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-success text-white"></div>
    </div>
</div>

{% endfor %}

{% for mo in mejoroferta %}
<div class="container text-center">
    <div class="card text-white bg-success border-success mb-3 ">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-title">Mejor Oferta Hasta el momento:</h5>
                    <p class="card-text">{{ mo.0 }}</p>
                    <p class="card-text">{{ mo.1 }} kilos</p>
                    <p class="card-text">Oferta: ${{ mo.2 }}</p>
                    <p class="card-text">Fecha y Hora: {{ mo.3 }}</p>
                </div>
                <!-- <div class="col-md-6 d-flex justify-content-center">
                    <div class="vertical-center">
                        <h5 class="card-title">Hora Actual:</h5>
                        <h1 id="display-time"></h1>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}

<br>


<div class="d-flex justify-content-center">
    {% if messages %}
    <div class="messages">
        <!-- <div class="guardado"></div> -->
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %} id="pm">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% if historial %}
<div class="container table-responsive">
    <table class="table table-bordered table-hover table-condensed table-light">
        <thead>
            <tr>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" class="text-center">Fecha y Hora Oferta</th>
                <th scope="col" class="text-center">Cantidad Ofercida</th>
                <th scope="col" class="text-center">Precio Ofrecido</th>
            </tr>
        </thead>
        <tbody>
            {% for h in historial %}
            <tr>
                <td class="text-center">{{ h.1 }}</td>
                <td class="text-center">{{ h.2 }}</td>
                <td class="text-center">{{ h.4 }} Kilos</td>
                <td class="text-center">${{ h.3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container mt-5 mb-5">
    <h3 class="text-center text-white">No existen ofertas actualmente.</h3>
    <hr class="new4">
    <h4 class="text-center text-white">Maipo Grande
        <img src="{% static '/core/img/logo_maipo.png' %}" alt="logo" width="30" height="30" class="mb-2">
    </h4>
</div>
{% endif %}







<br>

{% endblock %}