{% extends 'core/base.html' %}

{% load static %}
{% load auth_extras %}
{% load remover_decimal %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/colortabla.css' %}">
<link rel="stylesheet" href="{% static 'core/css/centro.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/countdown.js' %}"></script>
<script src="{% static 'core/js/hora.js' %}"></script>
<script src="{% static 'core/js/validacion_oferta.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- <script src="{% static 'core/js/guardado.js' %}"></script> -->
{% endblock %}

{% block contenido %}

<br>
<div class="container">
    <a href="{% url 'solicitud_compra' %}" class="btn btn-info"><i class="fas fa-step-backward"></i> Volver</a>
</div>
<br>

<div class="container">

    
    <div class="card">
        <div class="card-header bg-success text-white">
            Resultados proceso venta Nro. {{ ganadores.0.0 }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Productos ofrecidos</h5>

            {% for g in ganadores %}

            <div class="card">
                <div class="row mt-2">
                    <img src="{{ g.2 }}" alt="fruta" class="mr-2 ml-5" width="150" height="150">
                    <div class="col">
                        <p>Producto ofrecido: {{ g.1 }}</p>
                        <p>Cantidad ofrecida: {{ g.3 }} Kilos</p>
                        <p>Precio por kilo: ${{ g.4 }}</p>
                        <p>Total por producto: ${{ g.5 }}</p>
                    </div>
                </div>
            </div>
            <br>

            {% endfor %}

            <p>Total a pagar por productos: ${{ total|remove_decimal_point }}</p>

            {% if ganadores.0.6 == 3 %}

            <a href="{% url 'aceptar_oferta' ganadores.0.0 %}" class="btn btn-primary"><i class="fas fa-check-circle"></i>Aceptar oferta</a>
            <a href="{% url 'rechazar_oferta' ganadores.0.0 %}" class="btn btn-danger"><i class="fas fa-ban"></i>Rechazar oferta</a>
            <a href="{% url 'solicitud_compra' %}" class="btn btn-info"><i class="fas fa-step-backward"></i> Volver</a>

            {% else %}

            <a href="{% url 'aceptar_oferta' ganadores.0.0 %}" class="btn btn-primary disabled"><i class="fas fa-check-circle"></i>Aceptar oferta</a>
            <a href="{% url 'rechazar_oferta' ganadores.0.0 %}" class="btn btn-danger disabled"><i class="fas fa-ban"></i>Rechazar oferta</a>
            <a href="{% url 'solicitud_compra' %}" class="btn btn-info"><i class="fas fa-step-backward"></i> Volver</a>

            {% endif %}

        </div>
        <div class="card-footer text-muted bg-success">
        </div>
    </div>

</div>

{% endblock %}