* {
    margin:0;
    padding: 0;
}

body {
    background: #56ab2f; 
    background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  
    background: linear-gradient(to left, #a8e063, #56ab2f);   
}

/* body {
    background-image: url("../img/fondo.jpg");
} */